.chapter-controls {
  margin-top: 3rem;

  .prev {
    text-align: left;
    float: left;
  }

  .next {
    text-align: right;
    float: right;
  }

  a {
    color: #cd693c;

    @media (prefers-color-scheme: dark) {
      color: #a3a4f1;
    }
  }
}
