@mixin font-face($family, $weightNumber, $weightName, $style, $ext) {
  @font-face {
    font-family: $family;
    font-weight: $weightNumber;
    font-style: $style;
    font-display: swap;
    src: url("/fonts/#{$family}-#{$weightName}-#{$style}.#{$ext}");
  }
}

@include font-face("source-serif-pro", 300, "light", normal, "woff2");
@include font-face("source-serif-pro", 400, "regular", normal, "woff2");
@include font-face("source-serif-pro", 400, "regular", italic, "woff2");

@include font-face("sorts-mill-goudy", 400, "regular", normal, "woff");
@include font-face("sorts-mill-goudy", 400, "regular", italic, "woff");
