*,
::before,
::after {
  margin: 0;
  padding: 0;
  font: inherit;
}

body * + * {
  margin-top: 1em;
}

html {
  font-size: 21px;
}

body {
  max-width: 31rem;
  margin: {
    left: auto;
    right: auto;
  }
}
