html {
  font-size: 21px;
  line-height: 1.5;
  font-family: "source-serif-pro";
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.04em;
}
