html {
  font-size: 21px;
  line-height: 1.5;
  font-family: "source-serif-pro";
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-size: 2rem;

  margin: {
    top: 10rem;
    bottom: 5rem;
  }
}

h1.chapter-title {
  text-align: center;
  font-weight: 300;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.1em;
}

h1.story-title {
  font-family: "sorts-mill-goudy";
}

.story-controls {
  font-size: 0.8rem;
  letter-spacing: 0.04em;

  .story-title {
    font-style: italic;
  }
}
