<!doctype html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <nav class="chapter-control">
      {{ with .Next }}
        <p class="prev">
          <a href="{{ .Permalink }}">← previous chapter</a>
        </p>
      {{ end }}

      {{ with .Prev }}
        <p class="next">
          <a href="{{ .Permalink }}">next chapter →</a>
        </p>
      {{ end }}

      <div class="clearfloat"></div>
    </nav>
  </body>
</html>
